.Weather {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background-color: white;
}
.btn {
  color: white;
  background-color: pink;
  border: powderblue;
}

.Weather .overview {
  margin-bottom: 20px;
}

.Weather .weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.Weather .weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.Weather .weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.Weather .weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.Weather .weather-temperature .active:hover {
  text-decoration: none;
}
